<h1><%= @doctor.name %></h1>
<p>
  Appointments: <br />
  <% @doctor.appointments.each do |appt| %>
    <%= appt.formatted_appointment_datetime %> <br />
    <%= link_to appt.patient.name, patient_path(appt) %>
  <% end %>
</p>
